@layer base {
  @font-face {
    font-family: 'Bed Times';
    src: url('./../fonts/BedTimes-Regular.woff2') format('woff2'),
      url('./../fonts/BedTimes-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  .bed-body {
    // @apply text-base font-bed-times;
    @apply text-base;
    font-family: 'Times New Roman';
    -webkit-font-smoothing: antialiased;
  }
}